/* 
https://www.youtube.com/watch?v=tLCU2RupVo4
https://drive.google.com/drive/folders/1qCiULMbKOpRbX8vhukt6B8fPF9OrXAQv

https://codepen.io/t_afif/pen/BarmdPB
*/
 /* 
  test fonts:
  outrun future
  shaka pow 
  the jacatra
  next custom*/
  /* #213042, #2b3f55 */
 
.axe-hammer {
    align-self: center;
    margin-left: 60%;
    margin-bottom: 15%;
    transform: translate(-50% -50%);
    grid-column: 1/3;
    grid-row: 2; 
}

.axe-hammer img {
    width: 320px;
}
/* #213042, #2b3f55 */
.about{
  background-color: #1a2635;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr  ;
     
}
.rain{
  /* background-image: url('/public/assets/rain.png'); */
  animation: rain 3s linear infinite;
  grid-row: 1/3;
  grid-column:1/4;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}

.rain::before{
  content: "";
  position: fixed;
  width: 100%;
  height: 100%; 
  top: 65px;   
  /* background-image: url('/lightining.png'); */
  background-repeat: no-repeat;
  transform: rotate(180deg);
  animation: lightining  3s linear infinite;
  opacity: 1;
}
@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
/* test css */
.gallery {
  --z: 32px;  /* control the zig-zag  */
  --s: 360px; /* control the size */
  --g: 8px;   /* control the gap */
  display: grid;
  gap: var(--g);
  width: calc(2*var(--s) + var(--g));
  grid-auto-flow: column;
  background-position-x: center;
  background-position-y: center;
  margin-left:25%;
  grid-column: 1/4;
  grid-row: 2;
  margin-bottom: 8%;
}

article {
  width: 0;
  min-width: calc(100% + var(--z)/2);
  height: var(--s);
  object-fit: cover;
  /* hides an element (partially or fully) by masking or clipping the image at specific points. */
  -webkit-mask: var(--mask);
  mask: var(--mask);
  cursor: pointer;
  transition: .5s;
}

article:hover {
    /* slide effect when hover over article- calc distance between  */
    width: calc(var(--s)/2);
}

article.destinyEgg {
  place-self: start;
  /* zig zag formula */
  clip-path: polygon(calc(2*var(--z)) 0,100% 0,100% 100%,0 100%);
  --mask: 
    conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 
      50%/100% calc(2*var(--z)) repeat-y;
  margin-left: -100px;
}

article.danEgg {
  place-self: end;
  /* zig zag formula */
  clip-path: polygon(0 0,100% 0,calc(100% - 2*var(--z)) 100%,0 100%);
  --mask: 
    conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg) 
    50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
  margin-right: -100px;
}


.about h1 {
  grid-row: 1;
  grid-column: 1/4;
  margin-top: 100px;
  margin-right:5%;
  text-align: center;
  font-family: GodofWar ;
  font-size: 54px;
  color:#174bb1;
}

 

.destinyEgg, .danEgg {
  /* background-color: #213042cd; */
  background-color: #1a2635c0;
}

.destinyEgg p, .danEgg p{
  background-color: black;
  color:#1d7ea8;
  font-family: outrun future;
  height: fit-content;
  width:70%;
  text-align: center;
  margin-left: 15%;
  border-radius: 15px;
}

.destinyEgg img {
  height: 200px;
  margin-left: 25%;
}

.danEgg img {
    margin-left: 35%;
    height: 200px;
}

.destinyEgg li {
  list-style: none;
}






  