
.commentSection {  
    grid-column: 3;
    grid-row: 1/3;
    color: #212121;
    /* border: 2px solid #e8e5e5;
    background-color: #f8f8f8;
    border-radius: 25px; */
    display: grid;
    grid-template-rows: 40% 60%;
    
}

.commentForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    
}

.commentForm input {
    align-self: center;  
}

.commentForm label {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

label input {
    height: 15px;
    text-indent: 10px;
}

span, .comments, form h4 {
    text-align: center;
}


.comments ul {
    list-style: none;
}

.commentButton {
   height: 25px ;
    margin-top: 10%;
    width: 100px;
}

.commentButton:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid  #f40402;
}



