
button{
    grid-column: 5;
    width: 40%;
    align-self: center;
    justify-self: center;
    /* margin-top: 10px;
    margin-right: 20px; */
    border-radius: 20px;
    border: 2px solid #e8e5e5;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);  
}
button img {
    height:18px;
}