.favorites{
    margin-top: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 40% 60% ;
    height: 100vh;
}

.favorites section img {
    height: 200px;
    border-radius: 20px;
    margin-top: 20px;
}

.favorites section p {
    text-indent: 20px;
    font-size: 14px;
}

.favorites section {
    justify-self: center;
    font-family: didot;
}

.favorites ol {
    grid-column: 2;
}
.favorites a {
    color:black;
}

.favorites ol li {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 15px;
}

.favorites li img {
    height: 75px;
    margin-bottom: 0;
    border-radius: 10px;
}

.favorites ol li h3 {
    align-self: flex-end;
}
