.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid maroon;
  padding: 50px;
  z-index: 1000;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal img {
  height: 200px;
}

.modal button {
  position:fixed;
  top: 0;
  right: 0;
  width: 20px;
  color: #f40402;
}
 .modal button:hover {
  border:  2px solid #f40402;
 }
