
.nav {
    background-color: #f40402 ;
    display: grid;
    /* grid-template-columns: auto auto auto auto 1fr; */
    grid-template-columns: auto auto auto auto auto  auto  .5fr auto auto;

    column-gap: 12px;
    padding-left: 20px;
    color: white;
    /* font-size: 14px; */
    font-size: 16px;
    /* align-items: center; */
    align-items: flex-end;

    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 500;
}
a.egg {
    width: 50px,;
    justify-self: flex-end,;
    grid-column: 8;
}
.egg img {
    height: 40px;
   text-align: end;
}
.egg img:hover {
    cursor: pointer;
}

/* test */
 a, img {
    margin-bottom: 5px;
}

h1 {
    /* margin: 0; */
    margin-bottom: 2px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    /* test */
    
}

a:hover {
   color: #212121; 
}


