
.nav {
    background-color: #f40402 ;
    display: grid;
    grid-template-columns: auto auto auto auto .2fr;
    column-gap: 12px;
    color: white;
    font-size: 16px;
    align-items: flex-end;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 500;
}

.logo-home {
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
}
.logo-home h1 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

a:hover {
   color: #212121; 
}


