.recent-views {
    grid-column: 2;
    grid-row: 1/3;
    text-align: center;
    color: #212121;
    border-radius: 20px;
    background-color: #f8f8f8;
    border: 2px solid #e8e5e5;

}

.vid-history {
    border: 4px solid purple;
}

.recent-views a {
    color: #212121;
    text-decoration: underline;
    font-size: 13px;
    font-family: arial rounded mt bold;
}

.recent-views h4 {
    margin-bottom: 15px;
    margin-top: 20%;
}
.recent-views img {
    height: 15px;
    margin-right: 10px;
}

.recent-views ul {
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
    list-style: none;
}
