.videos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 20px;
    /* margin-top: 5%; */
    border: 1px solid black;
    width: 65%;
    margin-bottom: 24px;
}



/* test css */
.videos {
    column-gap: 20px;
    max-width: 75%;
}

