.search-section {
    grid-column: 3;
    display: grid;
    grid-template-columns: auto auto;
}

.dropdowns {
    grid-column: 2;
    padding: 5px;
    font-size: 12px;
    display: grid;
    row-gap: 4px;
}

select:hover {
    cursor:pointer;
    /* outline: 2px solid #f40402; */
}

select:focus {
    outline: 2px solid #f40402;
}

form {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    margin-top: 10px;
    
}

.textbox {
    width: 450px;
    max-width: 500px;
    text-indent: 10px;
    position: relative;
}

input {
    height:40px;
}

/* test css */
.button {
    width: 45px;
    max-width: 45px;
    height:40px;
    position: relative;
    right: 50px;
    border-top-left-radius: 0px ;
    border-bottom-left-radius: 0px;
    background-color: #f8f8f8;
}