form {
    display: flex;
    margin-top: 100px;
}

.textbox {
    width: 450px;
    max-width: 500px;
    margin-left: 30%;
    text-indent: 10px;
    position: relative;
}

input {
    height:40px;
}

/* test css */
.button {
    width: 45px;
    max-width: 45px;
    height:40px;
    position: relative;
    right: 50px;
    border-top-left-radius: 0px ;
    border-bottom-left-radius: 0px;
    background-color: #f8f8f8;
}