.videoPage {
    display: grid;
    grid-template-columns: 1fr 5fr .5fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
}

.video {
    grid-column: 2;
}
iframe {
   text-align: center;
   width: 100%;
}

.description {
    grid-column: span 2;
    grid-row: 3;
    height: 100px;
    justify-self: center;
    overflow: scroll;
    padding: 10px;
    border-radius: 15px;
    text-indent: 5px;
    border: 1px solid #e8e5e5;
    background-color: #f8f8f8;
}

.videoInfo {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto auto auto ;
    row-gap: 20px;
    grid-column: 2;
    grid-row: 2;
}

.videoInfo h4 img {
    height: 40px;
}
.videoInfo h2 {
    grid-column: span 2;
}
.videoInfo h4 {
    display: flex;
    justify-content: space-evenly;
}

.videoInfo h4 span {
    margin-top: 5px;
}

.videoInfo .stats {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10%;
}

.related {
    grid-column: 2;
    
}
.moreVids  {
    display: flex;
    justify-content: space-evenly; 
    height: 200px;
    width: 100%;
    
}

.moreVids p#title, .moreVids p {
    font-size: 10px;
}

p#title {
    height: 25px;
}

.moreVids img {
    height: 100px
}

.stats input:hover {
    border: 2px solid #f40402 ;
    cursor: pointer;
}

.moreVids .videoThumbnail {
    width: 20%;
}

