.videoThumbnail {
    display:block;
    text-align: center;
    margin-top: 10px;
    /* border: 1px solid black; */
}
.videoThumbnail img {
    margin-top: 15px;
}
.videoThumbnail a {
    color: black;
}
.videoThumbnail h2, #results-label {
    text-align: center;
    margin-top: 10px;
}