/* 
    - red : #f40402
    - dark grey (nav): #212121
    - black : #0f0f0f 
    */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.test-modal {
    margin-top: 300px;
}

/* test to have same border, color radius for all inputs */
 input, select{
    border-radius: 20px ;
    border: 2px solid #e8e5e5;
}

input:focus {
    outline: 2px solid #f40402;
}

/* DarkMode across entire app */

.darkMode{
    background-color: #212121;
}

.darkMode .nav a{
    color: #e8e5e5;
}

.darkMode .nav a:hover{
    color: #f40402;
}

.darkMode .nav {
    background-color: black;
}

.darkMode .textbox {
    background-color: #212121;
    color: #e8e5e5;
}

.darkMode select {
    background-color: #212121;
    color: #e8e5e5;
}

.darkMode form h4, .darkMode form span, .darkMode li{
    color: #e8e5e5;
}


.darkMode .description, .darkMode .views span{
    color: #212121;
}

.darkMode .videoThumbnail, .darkMode .commentSection, .darkMode .description, .darkMode .recent-views  {
    border: 2px solid black;
}

.darkMode .videoThumbnail:hover {
    border: 2px solid #f40402;
}

.darkMode .dan p, .darkMode .destiny p {
    color: #e8e5e5;
}

.darkMode footer {
    background-color: black;
    color: #e8e5e5;
}

.darkMode .recent-views {
    background-color: #212121;
    color:#e8e5e5;
}
.darkMode .recent-views li span{
    color: #e8e5e5 ;
}
.darkMode .recent-views li span:hover {
    transform: scale(1.1);
    color: black;
}

.darkMode .commentForm span, .darkMode .commentForm h4, .darkMode .commentSection li {
    color:#212121;
}

.darkMode .videoInfo, .darkMode .related {
    color: #e8e5e5;
}

.darkMode .favorites a{
    color: #e8e5e5;
}

.darkMode .favorites {
    color: #e8e5e5;
}

.darkMode button:hover {
    cursor: pointer;
    box-shadow: 0 0 12px 0.22px rgba(228, 99, 29, 0.744);
    transform: scale(1.1);  
}

.darkMode .about-project, .darkMode .destiny-details, .darkMode .dan-details {
    box-shadow: 14px 8px 30px #f40402;
}

