/* 
    - red : #f40402
    - dark grey (nav): #212121
    - black : #0f0f0f 
    */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.App {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.test-modal {
    margin-top: 300px;
}

/* test to have same border, color radius for all inputs */
 input, select{
    border-radius: 20px ;
    border: 2px solid #e8e5e5;
}

input:focus {
    outline: 2px solid #f40402;
}

/* DarkMode across entire app */
.darkMode {
    background-color: #212121;
    color: #e8e5e5;
    border: 2px solid #f40402;
}

.darkMode form h4, .darkMode form span, .darkMode li{
    color: #e8e5e5;
}


.darkMode .description, .darkMode .views span{
    color: #212121;
}

.darkMode .description {
    border: 5px solid #f40402;
}

.darkMode .videoThumbnail {
    border: 2px solid #f40402;
}

.darkMode .videoThumbnail:hover {
    border: 2px solid #e8e5e5;
}

.darkMode .dan p, .darkMode .destiny p {
    color: #e8e5e5;
}

.darkMode footer {
    border-top: 1px solid #f40402;
    background-color: #212121;
    color: #e8e5e5;
}

.darkMode .recent-views {
    background-color: #212121;
    color:#e8e5e5;
    border:  2px solid #f40402;
}
.darkMode .recent-views a {
    text-decoration-color: #e8e5e5 ;
}
.darkMode .recent-views a:hover {
    transform: scale(1.1);
}


